.container {
  max-width: 600px;
  margin: 0 auto;
}
  
h3 {
  color: #333;
}

.fileUpload{
  margin-top: 10px;
}

.caption {
  margin-top: 20px;
}

.messageInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: vertical;
}

.uploadButton {
  margin-top: 20px;
}