.postCreatedByName {
    padding-left: 7px;
}

.postCreatedBy {
    padding-top: 4px;
}

.postCreatedByDate {
    padding-left: 5px;
    padding-top: 2px;
}
.postsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    grid-gap: 8px;
    margin-top: 20px;
}

.postImage{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-right: 500px;
}
.postImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}