.postCreatedByName {
    padding-left: 7px;
}

.postCreatedBy {
    padding-top: 4px;
}

.postCreatedByDate {
    padding-left: 5px;
    padding-top: 2px;
}

.postImage {
    object-fit: contain;
    max-height: 290px;
    max-width: 100%;
    height: 100%;
    width: auto;
}

.postImageContainer{
    max-height: 300px;
}

.postCardContainer {
    padding-bottom: 15px;
}